sentiment_set.pickle
Leaf/
notMNIST/

deeplearning.ai/RNN/readonly/
deeplearning.ai/RNN/Week 1/Jazz improvisation with LSTM/data/
deeplearning.ai/RNN/Week 3/Trigger word detection/XY_dev
deeplearning.ai/RNN/Week 3/Trigger word detection/XY_train